@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Trykker&display=swap");
footer {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  width: 100%;
  color: white;
  background-color: #116466;
  /* no dot before home */
}
footer p {
  flex-grow: 7;
  margin: auto;
  padding-left: 50px;
}
footer ul:nth-child(2) {
  margin: auto;
  font-weight: bold;
  display: flex;
}
footer ul:nth-child(2) li a {
  font-size: 1.563rem;
  color: inherit;
  /* dot for nav links */
}
footer ul:nth-child(2) li a:hover {
  color: #380b0b;
}
footer ul:nth-child(2) li a:before {
  content: "·";
  display: inline-block;
  margin: auto 10px;
  color: #d1e8e2;
}
footer ul:nth-child(2) .home-link:before {
  content: none;
}
footer ul:nth-child(3) {
  flex-grow: 10;
  margin: auto;
  padding-right: 50px;
  text-align: right;
}
footer ul:nth-child(3) li {
  display: inline-block;
}
footer ul:nth-child(3) li a {
  margin: auto 2px;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 1.875rem;
  background-color: #380b0b;
  color: inherit;
}
footer ul:nth-child(3) li a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
}
footer ul:nth-child(3) li a:active {
  color: #116466;
}

@media screen and (max-width: 1250px) {
  footer {
    flex-direction: column;
    padding: 0 0 10px;
  }
  footer p {
    order: 3;
    padding: 0;
    font-size: 1.125rem;
  }
  footer ul:nth-child(2) {
    padding-top: 7px;
  }
  footer ul:nth-child(2) li a {
    order: 2;
    font-size: 1.375rem;
  }
  footer ul:nth-child(3) {
    order: 1;
    padding: 8px 0;
  }
  footer ul:nth-child(3) li a {
    padding: 8px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  footer p {
    font-size: 0.938rem;
  }
  footer ul:nth-child(2) {
    padding-top: 3px;
  }
  footer ul:nth-child(2) li a {
    font-size: 1.125rem;
  }
  footer ul:nth-child(2) li a:hover {
    color: white;
  }
  footer ul:nth-child(2) li a:active {
    color: #380b0b;
  }
  footer ul:nth-child(2) li a:before {
    margin: auto 5px;
  }
  footer ul:nth-child(3) {
    padding: 5px 0;
  }
  footer ul:nth-child(3) li a {
    font-size: 1.5rem;
  }
  footer ul:nth-child(3) li a:hover {
    transform: none;
  }
}
nav {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border-bottom: solid 2px white;
  font-weight: bold;
  background-color: #116466;
}
nav .navbar-hamburger__btn {
  visibility: hidden;
  width: 0;
}
nav .navbar-logo {
  position: relative;
  left: 150px;
  bottom: 4px;
  font-size: 2.188rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  color: white;
}
nav ul:nth-child(3) {
  display: flex;
  margin-left: auto;
  padding-right: 100px;
}
nav ul:nth-child(3) .navbar-close__btn {
  visibility: hidden;
}
nav ul:nth-child(3) li {
  margin: auto;
}
nav ul:nth-child(3) li a {
  margin-right: 50px;
  font-size: 1.563rem;
  color: white;
}
nav ul:nth-child(3) li a:hover {
  color: #380b0b;
}
nav ul:nth-child(3) li:nth-child(4) ul {
  margin: 0 50px -3px 0;
}
nav ul:nth-child(3) li:nth-child(4) ul button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.563rem;
  background-color: inherit;
  color: white;
}
nav ul:nth-child(3) li:nth-child(4) ul button:hover {
  color: #380b0b;
}
nav ul:nth-child(3) li:nth-child(4) ul button i {
  padding: 0 10px;
}
nav ul:nth-child(3) li:nth-child(4) ul li {
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  background-color: green;
}
nav ul:nth-child(3) li:nth-child(4) ul li a {
  display: block;
  margin: auto;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 1.4rem;
  color: white;
}
nav ul:nth-child(3) li:nth-child(4) ul li a:hover {
  background-color: lightgreen;
  color: #380b0b;
}
nav ul:nth-child(3) li:nth-child(4) ul:hover li {
  display: block;
}

@media only screen and (max-width: 1550px) {
  nav .navbar-logo {
    left: 70px;
  }
  nav ul:nth-child(3) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1370px) {
  nav .navbar-logo {
    left: 40px;
    bottom: 2px;
    font-size: 1.875rem;
  }
  nav ul:nth-child(3) li a {
    margin-right: 30px;
    font-size: 1.375rem;
  }
  nav ul:nth-child(3) li:nth-child(4) ul {
    margin: 0 30px 0 0;
  }
  nav ul:nth-child(3) li:nth-child(4) ul button {
    font-size: 1.375rem;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li:nth-child(2) a {
    padding: 3px 5px 3px 10px;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    width: 100%;
  }
  nav .navbar-hamburger__btn {
    visibility: visible;
    position: absolute;
    left: 7%;
    top: 22%;
    cursor: pointer;
    font-size: 2rem;
    color: #d1e8e2;
  }
  nav .navbar-logo {
    margin: auto;
    left: 0;
  }
  nav ul:nth-child(3) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    padding: 80px 0 0;
    height: 100vh;
    width: 0;
    transition: 0.4s;
    overflow-x: hidden;
    background-color: #116466;
  }
  nav ul:nth-child(3) .navbar-close__btn {
    visibility: visible;
    position: absolute;
    top: 30px;
    right: 80px;
    height: 0;
    cursor: pointer;
    font-size: 3.125rem;
    font-weight: normal;
    color: #d1e8e2;
  }
  nav ul:nth-child(3) li {
    margin-right: -150px;
    padding: 20px 0 0 30px;
  }
  nav ul:nth-child(3) li a {
    margin-right: 0;
    font-size: 1.2rem;
  }
  nav ul:nth-child(3) li:nth-child(4) ul {
    margin: 0 -50px 0 0;
  }
  nav ul:nth-child(3) li:nth-child(4) ul button {
    font-size: 1.2rem;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li {
    left: 25%;
    padding: 0;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li a {
    padding: 3px 12px 3px 12px;
  }

  #side-nav.active {
    width: 200px;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    padding: 8px 0;
  }
  nav .navbar-hamburger__btn {
    top: 3%;
  }
  nav .navbar-logo {
    font-size: 1.563rem;
  }
  nav ul:nth-child(3) li a:hover {
    color: white;
  }
  nav ul:nth-child(3) li a:hover:active {
    color: #380b0b;
  }
  nav ul:nth-child(3) li:nth-child(4) ul button:hover {
    color: white;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li {
    left: 15%;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li a {
    padding: 3px 5px 3px 10px;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li a:hover {
    background-color: green;
    color: white;
  }
  nav ul:nth-child(3) li:nth-child(4) ul li a:active {
    background-color: lightgreen;
    color: #380b0b;
  }
}
@media only screen and (max-width: 360px) {
  nav {
    padding: 9px 0;
  }
  nav .navbar-logo {
    margin-top: 2px;
    font-size: 1.4rem;
  }
}
.home {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.home h1 {
  margin: auto auto 30px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.home h2:nth-child(2) {
  font-weight: bold;
  font-size: 2.2rem;
  color: #380b0b;
}
.home h2:nth-child(6) {
  font-weight: bold;
  font-size: 1.875rem;
  padding: 10px 0;
  color: #380b0b;
}
.home p {
  margin: auto;
  width: 70%;
}
.home p:nth-child(5) {
  padding-top: 20px;
}
.home-random {
  position: relative;
  margin: 20px auto 0;
  width: 70%;
  height: 8rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: #116466;
  color: white;
}
.home-random #quote {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
}
.home #author {
  margin-left: 50%;
  padding-top: 10px;
  height: 4rem;
  width: 35%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
  color: white;
  background-color: #380b0b;
}
.home-slides__img {
  margin: auto;
  padding-bottom: 10px;
  max-width: 30%;
}
.home-slides__img img {
  width: 100%;
  border-radius: 20px;
}
.home-dot {
  display: inline-block;
  margin: 0 2px 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: #116466 0.6s ease;
  background-color: #116466;
}
.home-slides__quote {
  position: relative;
  margin: auto auto 80px auto;
  width: 70%;
  height: 6rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #116466;
}
.home-slides__quote h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  hyphens: auto;
  font-weight: bold;
  font-style: italic;
  font-size: 1.563rem;
  color: white;
}
.home-slides__quote__author {
  position: absolute;
  top: 100%;
  margin-left: 50%;
  padding-top: 10px;
  width: 50%;
  height: 4rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: bold;
  font-size: 1.563rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.home .fadeaway {
  -webkit-animation-name: fadeaway-random;
  -webkit-animation-duration: 5s;
  -webkit-animation-count: infinite;
  animation-name: fadeaway-random;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fadeaway-random {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeaway-random {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.home .sliding-quotes {
  background-color: #380b0b;
}

@media only screen and (max-width: 1350px) {
  .home #quote {
    font-size: 1.4rem;
  }
  .home #author {
    height: 3.5rem;
    font-size: 1.4rem;
  }
  .home-slides__img {
    max-width: 40%;
  }
  .home-slides__quote h2 {
    font-size: 1.4rem;
  }
  .home-slides__quote__author {
    height: 3.5rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .home h1 {
    font-size: 2rem;
  }
  .home h2:nth-child(2) {
    font-size: 1.8rem;
  }
  .home h2:nth-child(6) {
    font-size: 1.6rem;
  }
  .home p {
    width: 90%;
  }
  .home p:nth-child(5) {
    padding-top: 10px;
  }
  .home-random {
    height: 6.6rem;
    width: 90%;
  }
  .home-random #quote {
    font-size: 1.25rem;
  }
  .home #author {
    padding: 10px 0;
    width: 45%;
    height: 3.3rem;
    font-size: 1.25rem;
  }
  .home-slides__quote {
    margin: auto auto 60px auto;
    width: 90%;
    height: 5rem;
  }
  .home-slides__quote h2 {
    font-size: 1.25rem;
  }
  .home-slides__quote__author {
    height: 3.3rem;
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1000px) {
  .home {
    padding: 25px 0 20px;
  }
  .home h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .home h2:nth-child(2),
.home h2:nth-child(6) {
    font-size: 1.4rem;
  }
  .home-slides__img {
    max-width: 50%;
  }
}
@media only screen and (max-width: 820px) {
  .home-random {
    height: 8rem;
  }
  .home-random #quote {
    font-size: 1.2rem;
  }
  .home #author {
    margin-left: 25%;
    width: 70%;
    height: 3.2rem;
    font-size: 1.2rem;
  }
  .home-slides__img {
    padding-bottom: 0;
    max-width: 65%;
  }
  .home-dot {
    margin: 0 2px 5px;
    height: 10px;
    width: 10px;
  }
  .home-slides__quote h2 {
    font-size: 1.2rem;
  }
  .home-slides__quote__author {
    margin-left: 25%;
    width: 75%;
    height: 3.2rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 640px) {
  .home-random {
    height: 9.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .home {
    padding: 0 0 20px;
  }
  .home h1 {
    margin: auto auto 20px;
    font-size: 1.25rem;
  }
  .home h2:nth-child(2),
.home h2:nth-child(6) {
    font-size: 1.1rem;
  }
  .home-random {
    height: 8.5rem;
    border-bottom-left-radius: 0;
  }
  .home-random #quote {
    font-size: 1rem;
  }
  .home #author {
    margin: auto;
    width: 90%;
    height: 2.8rem;
    font-size: 1rem;
  }
  .home-slides__img {
    max-width: 90%;
  }
  .home-slides__quote {
    height: 4.6rem;
    border-bottom-left-radius: 0;
  }
  .home-slides__quote h2 {
    font-size: 1rem;
  }
  .home-slides__quote__author {
    margin: auto;
    width: 100%;
    height: 2.8rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 405px) {
  .home-random {
    height: 9.2rem;
  }
}
@media only screen and (max-width: 360px) {
  .home-random {
    height: 10.5rem;
  }
  .home-slides__quote {
    height: 4.8rem;
  }
}
.daily-quotes {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.daily-quotes h1 {
  margin: auto auto 20px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.daily-quotes p {
  margin: auto;
  width: 70%;
}
.daily-quotes ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* same sized column */
  column-gap: 50px;
  row-gap: 30px;
  margin: auto;
  width: 70%;
}
.daily-quotes ul li:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.daily-quotes ul li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.daily-quotes ul li:nth-child(3) {
  grid-column: span 2;
  grid-row: 2;
}
.daily-quotes ul li:nth-child(3) img {
  max-width: 50%;
}
.daily-quotes ul li h2 {
  padding: 20px 0 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.875rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
}
.daily-quotes ul li img {
  margin-bottom: -10px;
  max-width: 100%;
  height: auto;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
}
.daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
  position: relative;
  margin: auto;
  height: 8rem;
  border-bottom-left-radius: 35px;
  background-color: #116466;
  color: white;
}
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
}
.daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success {
  width: 100%;
}
.daily-quotes ul li .daily-quotes__health {
  width: 50%;
}
.daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
  margin-left: 30%;
  padding: 15px 0;
  width: 70%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.daily-quotes ul li #daily-quotes__author__health {
  margin-left: 40%;
  width: 35%;
}

@media only screen and (max-width: 1612px) {
  .daily-quotes ul li h2 {
    font-size: 1.72rem;
  }
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    height: 9.8rem;
  }
  .daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
    font-size: 1.4rem;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1350px) {
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    height: 8.6rem;
  }
  .daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
    font-size: 1.3rem;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .daily-quotes h1 {
    font-size: 2rem;
  }
  .daily-quotes p {
    width: 90%;
  }
  .daily-quotes ul {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    width: 90%;
  }
  .daily-quotes ul li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .daily-quotes ul li:nth-child(3) {
    grid-column: span 1;
    grid-row: 3;
  }
  .daily-quotes ul li:nth-child(3) img {
    max-width: 60%;
  }
  .daily-quotes ul li h2 {
    font-size: 1.6rem;
  }
  .daily-quotes ul li img {
    max-width: 60%;
  }
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    width: 60%;
    height: 6rem;
  }
  .daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
    font-size: 1.2rem;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    margin-left: 40%;
    width: 40%;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .daily-quotes {
    padding: 25px 0 20px;
  }
  .daily-quotes h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .daily-quotes ul li h2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 820px) {
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    height: 7.5rem;
  }
  .daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
    font-size: 1.1rem;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    margin-left: 35%;
    width: 45%;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 645px) {
  .daily-quotes ul li:nth-child(3) img {
    max-width: 80%;
  }
  .daily-quotes ul li img {
    max-width: 80%;
  }
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    height: 7.7rem;
    width: 80%;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    margin-left: 30%;
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  .daily-quotes {
    padding: 0 0 20px;
  }
  .daily-quotes h1 {
    margin: auto auto 10px;
    font-size: 1.25rem;
  }
  .daily-quotes ul li:nth-child(3) img {
    max-width: 100%;
  }
  .daily-quotes ul li h2 {
    padding: 10px 0;
    font-size: 1.1rem;
  }
  .daily-quotes ul li img {
    max-width: 100%;
  }
  .daily-quotes ul li .daily-quotes__love,
.daily-quotes ul li .daily-quotes__success,
.daily-quotes ul li .daily-quotes__health {
    width: 100%;
    height: 6.5rem;
    border-bottom-left-radius: 0;
  }
  .daily-quotes ul li .daily-quotes__love #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__love #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__success #daily-quotes__text__health,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__love,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__success,
.daily-quotes ul li .daily-quotes__health #daily-quotes__text__health {
    font-size: 1rem;
  }
  .daily-quotes ul li #daily-quotes__author__love,
.daily-quotes ul li #daily-quotes__author__success,
.daily-quotes ul li #daily-quotes__author__health {
    margin-left: 0;
    width: 100%;
    font-size: 1rem;
  }
}
.categories {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.categories h1 {
  margin: auto auto 30px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.categories ul li {
  position: relative;
}
.categories ul li img {
  max-height: 400px;
  width: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.categories ul li div {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
  background: #3d3d3d;
  color: white;
}
.categories ul li div h2 {
  margin: center;
  padding: 10px;
  text-align: center;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 1.8rem;
}
.categories-button {
  display: block;
  margin: auto;
  padding: 30px 0;
  width: 50%;
  border-top: 2px solid white;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: inherit;
  background-color: #116466;
  color: white;
}
.categories-button:nth-child(11) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.categories-button:hover {
  background-color: #380b0b;
}
.categories-search {
  display: none;
  margin: auto;
  width: 50%;
  overflow: hidden;
  background-color: #116466;
  color: white;
}
.categories-search li {
  border: solid 1px #380b0b;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
  color: white;
}
.categories-search li h3 {
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 1.6rem;
}
.categories-search li p {
  margin-left: 40%;
  padding: 10px;
  width: 60%;
  border-top-left-radius: 50px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #380b0b;
}

@media only screen and (max-width: 1350px) {
  .categories ul li img,
.categories ul li div {
    width: 70%;
  }
  .categories ul li img h2,
.categories ul li div h2 {
    font-size: 1.7rem;
  }
  .categories-button {
    width: 70%;
    font-size: 1.7rem;
  }
  .categories-search {
    width: 70%;
  }
  .categories-search li h3 {
    font-size: 1.4rem;
  }
  .categories-search li p {
    padding: 8px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .categories h1 {
    font-size: 2rem;
  }
  .categories ul li div h2 {
    font-size: 1.6rem;
  }
  .categories-button {
    font-size: 1.6rem;
  }
  .categories-search li h3,
.categories-search li p {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1000px) {
  .categories {
    padding: 25px 0 20px;
  }
  .categories h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .categories ul li div h2 {
    padding: 8px 5px;
    line-height: 1.5rem;
    font-size: 1.4rem;
  }
  .categories-button {
    padding: 20px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 820px) {
  .categories ul li div h2 {
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
  }
  .categories-button {
    font-size: 1.2rem;
  }
  .categories-search li h3 {
    padding: 20px 10px;
    font-size: 1.1rem;
  }
  .categories-search li p {
    margin-left: 30%;
    padding: 6px;
    width: 70%;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 640px) {
  .categories ul li img,
.categories ul li div {
    width: 90%;
  }
  .categories-button, .categories-search {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .categories {
    padding: 0 0 20px;
  }
  .categories h1 {
    margin: auto auto 20px;
    font-size: 1.25rem;
  }
  .categories ul li div h2 {
    padding: 5px;
    font-size: 1.1rem;
  }
  .categories-button {
    font-size: 1.1rem;
  }
  .categories-button:hover {
    background-color: #116466;
    background-color: #116466;
    background-color: #116466;
  }
  .categories-button:hover:active {
    background-color: #380b0b;
  }
  .categories-search li h3 {
    padding: 15px 10px;
    font-size: 1rem;
  }
  .categories-search li p {
    margin-left: 0;
    width: 100%;
    border-top-left-radius: 0;
    font-size: 1rem;
  }
}
.authors {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.authors h1 {
  margin: auto auto 30px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  color: white;
  background-color: #380b0b;
}
.authors #author-search-bar {
  display: block;
  margin: auto;
  padding: 10px;
  width: 50%;
  border: 5px solid #116466;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
}
.authors img {
  display: block;
  margin: auto;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.authors #author-search {
  margin: auto;
  padding-bottom: 30px;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #116466;
}
.authors #author-search li {
  border: solid 1px #380b0b;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
}
.authors #author-search li h3 {
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  font-style: italic;
  color: white;
}
.authors #author-search li p {
  margin-left: 40%;
  padding: 10px;
  width: 60%;
  border-top-left-radius: 50px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #380b0b;
  color: lightgreen;
}
.authors ::placeholder {
  font-weight: bold;
  color: #116466;
}

@media only screen and (max-width: 1350px) {
  .authors #author-search-bar {
    width: 70%;
    font-size: 1.4rem;
  }
  .authors img {
    width: 70%;
  }
  .authors #author-search {
    width: 70%;
  }
  .authors #author-search li h3 {
    font-size: 1.4rem;
  }
  .authors #author-search li p {
    padding: 8px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .authors h1 {
    font-size: 2rem;
  }
  .authors #author-search-bar {
    font-size: 1.25rem;
  }
  .authors #author-search li h3,
.authors #author-search li h3,
.authors #author-search li h3,
.authors #author-search li p {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1000px) {
  .authors {
    padding: 25px 0 20px;
  }
  .authors h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 820px) {
  .authors #author-search-bar {
    width: 70%;
    font-size: 1.2rem;
  }
  .authors #author-search li h3 {
    padding: 20px 10px;
    font-size: 1.2rem;
  }
  .authors #author-search li p {
    margin-left: 30%;
    margin-left: 30%;
    margin-left: 30%;
    padding: 6px;
    width: 70%;
    font-size: 1.2rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 640px) {
  .authors #author-search-bar,
.authors img,
.authors #author-search {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .authors {
    padding: 0 0 20px;
  }
  .authors h1 {
    margin: auto auto 20px;
    font-size: 1.25rem;
  }
  .authors #author-search-bar {
    font-size: 1rem;
  }
  .authors #author-search li h3 {
    padding: 15px 10px;
    font-size: 1rem;
  }
  .authors #author-search li p {
    margin-left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1rem;
  }
}
.text-search {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.text-search h1 {
  margin: auto auto 30px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.text-search #text-search-bar {
  display: block;
  margin: auto;
  padding: 10px;
  width: 50%;
  border: 5px solid #116466;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
}
.text-search img {
  display: block;
  margin: auto;
  max-height: 640px;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.text-search #text-search {
  margin: auto;
  padding-bottom: 30px;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #116466;
}
.text-search #text-search li {
  border: solid 1px #380b0b;
  font-weight: bold;
  font-family: "Trykker", "Times New Roman", Times, serif;
}
.text-search #text-search li h3 {
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  font-style: italic;
  color: lightgreen;
}
.text-search #text-search li p {
  margin-left: 40%;
  padding: 10px;
  width: 60%;
  border-top-left-radius: 50px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #380b0b;
  color: white;
}
.text-search ::placeholder {
  font-weight: bold;
  color: #116466;
}

@media only screen and (max-width: 1350px) {
  .text-search #text-search-bar {
    width: 70%;
    font-size: 1.4rem;
  }
  .text-search img {
    width: 70%;
  }
  .text-search #text-search {
    width: 70%;
  }
  .text-search #text-search li h3 {
    font-size: 1.4rem;
  }
  .text-search #text-search li p {
    padding: 8px;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .text-search h1 {
    font-size: 2rem;
  }
  .text-search #text-search-bar {
    font-size: 1.25rem;
  }
  .text-search #text-search li h3,
.text-search #text-search li h3,
.text-search #text-search li h3,
.text-search #text-search li p {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1000px) {
  .text-search {
    padding: 25px 0 20px;
  }
  .text-search h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 820px) {
  .text-search #text-search-bar {
    width: 70%;
    font-size: 1.2rem;
  }
  .text-search #text-search li h3 {
    padding: 20px 10px;
    font-size: 1.2rem;
  }
  .text-search #text-search li p {
    margin-left: 30%;
    margin-left: 30%;
    margin-left: 30%;
    padding: 6px;
    width: 70%;
    font-size: 1.2rem;
    font-size: 1.2rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 640px) {
  .text-search #text-search-bar,
.text-search img,
.text-search #text-search {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .text-search {
    padding: 0 0 20px;
  }
  .text-search h1 {
    margin: auto auto 20px;
    font-size: 1.25rem;
  }
  .text-search #text-search-bar {
    font-size: 1rem;
  }
  .text-search #text-search li h3 {
    padding: 15px 10px;
    font-size: 1rem;
  }
  .text-search #text-search li p {
    margin-left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 1rem;
  }
}
.my-story {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.my-story h1 {
  margin: auto auto 20px;
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.my-story p {
  margin: auto;
  width: 70%;
}
.my-story ul {
  margin: 20px auto;
  padding-top: 5px;
  width: 20%;
  text-align: center;
  border-radius: 10%;
  background-color: black;
}
.my-story ul li img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.my-story ul li h2,
.my-story ul li h3 {
  margin: 0 10px;
  font-weight: bold;
  color: white;
}
.my-story ul li h2 {
  padding-top: 8px;
  font-size: 1.875rem;
}
.my-story ul li h3 {
  padding-bottom: 10px;
  font-size: 1.463rem;
}
.my-story ul li p {
  padding: 10px 0 15px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: #116466;
}
.my-story ul li p a {
  height: 0;
  width: 0;
  font-weight: bold;
  font-size: 1.563rem;
  color: white;
}
.my-story ul li p a:hover {
  color: #380b0b;
}

@media only screen and (max-width: 1500px) {
  .my-story ul {
    width: 25%;
  }
}
@media only screen and (max-width: 1200px) {
  .my-story h1 {
    font-size: 2rem;
  }
  .my-story p {
    width: 90%;
  }
  .my-story ul {
    width: 30%;
  }
  .my-story ul li h2 {
    font-size: 1.7rem;
  }
  .my-story ul li h3 {
    font-size: 1.4rem;
  }
  .my-story ul li p a {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .my-story {
    padding: 25px 0 20px;
  }
  .my-story h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .my-story ul {
    margin: 10px auto;
    width: 35%;
  }
  .my-story ul li h2 {
    font-size: 1.55rem;
  }
  .my-story ul li h3,
.my-story ul li p a {
    font-size: 1.35rem;
  }
}
@media only screen and (max-width: 775px) {
  .my-story ul {
    width: 43%;
  }
  .my-story ul li h2 {
    font-size: 1.45rem;
  }
  .my-story ul li h3,
.my-story ul li p a {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 600px) {
  .my-story ul {
    width: 55%;
  }
}
@media only screen and (max-width: 500px) {
  .my-story {
    padding: 0 0 20px;
  }
  .my-story h1 {
    margin: auto auto 10px;
    font-size: 1.25rem;
  }
  .my-story ul {
    width: 60%;
  }
  .my-story ul li h2 {
    font-size: 1.25rem;
  }
  .my-story ul li h3 {
    font-size: 1.05rem;
  }
  .my-story ul li p a {
    font-size: 1.05rem;
  }
  .my-story ul li p a:hover {
    color: white;
  }
  .my-story ul li p a:active {
    color: #380b0b;
  }
}
@media only screen and (max-width: 370px) {
  .my-story ul {
    width: 70%;
  }
}
.contact {
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.contact h1 {
  padding: 10px 0 15px;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Trykker", "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.contact img {
  max-width: 60%;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact h2 {
  padding: 30px 0 20px;
  font-weight: bold;
  font-size: 2.2rem;
  color: #380b0b;
}
.contact form {
  display: block;
  margin: auto;
  padding: 10px 20px 20px;
  width: 35%;
  border-radius: 20px;
  text-align: left;
  background-color: #116466;
}
.contact form label {
  font-size: 1.4rem;
  color: white;
}
.contact form input[type=text],
.contact form select,
.contact form textarea {
  margin: 6px 0 16px;
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 1.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
}
.contact form input[type=text]:required:focus:invalid {
  border: 2px solid red;
}
.contact form textarea {
  margin: 6px 0 15px;
  height: 200px;
  resize: vertical;
}
.contact form :focus::placeholder {
  color: transparent;
}
.contact form input[type=submit] {
  padding: 12px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: #380b0b;
  color: white;
}
.contact form input[type=submit]:hover {
  background-color: #d1e8e2;
  color: #380b0b;
}
.contact form .contact-submit {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .contact h1 {
    font-size: 2rem;
  }
  .contact img {
    max-width: 80%;
  }
  .contact h2 {
    font-size: 1.8rem;
  }
  .contact form {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .contact {
    padding: 25px 0 20px;
  }
  .contact h1 {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  .contact h2 {
    font-size: 1.4rem;
  }
  .contact form {
    width: 60%;
  }
  .contact form label {
    font-size: 1.25rem;
  }
  .contact form input[type=text],
.contact form input[type=submit],
.contact form select,
.contact form textarea {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 820px) {
  .contact img {
    max-width: 90%;
  }
  .contact form {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .contact {
    padding: 0 0 20px;
  }
  .contact h1 {
    font-size: 1.25rem;
  }
  .contact img {
    max-width: 100%;
  }
  .contact h2 {
    padding: 20px 0 10px;
    font-size: 1.1rem;
  }
  .contact form {
    padding: 10px 10px 20px;
    width: 90%;
  }
  .contact form label {
    font-size: 1.1rem;
  }
  .contact form input[type=text],
.contact form input[type=submit],
.contact form select,
.contact form textarea {
    font-size: 1rem;
  }
  .contact form input[type=submit]:hover {
    background-color: #380b0b;
    color: white;
  }
  .contact form input[type=submit]:hover:active {
    background-color: #d1e8e2;
    color: #380b0b;
  }
}
.message h1,
.message p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.message h1 {
  padding: 0 30px 180px;
  font-weight: bold;
  font-size: 2.5rem;
}
.message p {
  font-size: 1.875rem;
}
.message a {
  color: #116466;
}
.message a:hover {
  color: lightblue;
}

@media only screen and (max-width: 500px) {
  .message h1 {
    padding: 0 10px 100px;
    font-size: 1.5rem;
  }
  .message p {
    font-size: 1.125rem;
  }
  .message a:hover {
    color: #116466;
  }
  .message a:active {
    color: lightblue;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
  background: url("../img/bground.webp") white center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

section p {
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  html,
body {
    margin-top: 28px;
    background-attachment: scroll;
    background-size: 1000rem;
  }

  section p {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 500px) {
  section p {
    font-size: 0.95rem;
  }
}
/*# sourceMappingURL=style.css.map */
