.container_adding {
  background-image: url('/img/bground1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  text-align: center;
}

.form_adding {
  width: 40%;
  margin: auto;
}

.form_adding h2 {
  padding: 0px;
  font-size: 25px;
}

.container_adding h1 {
  font-size: 40px;
  text-align: center;
  padding: 40px 0 20px;
  color: black;
}

.container_adding p {
  text-align: center;
  color: black;
  padding-bottom: 20px;
  margin: 0 300px 0 300px;
}

.container_adding_middle p {
  color: black;
  padding: 10px 0 20px;
  margin: 0 -400px 0 -400px;
  text-align: center;
}

.adding_label_form {
  padding-bottom: 10px;
}

.adding_label {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.adding_label1 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.container_form_chechbox {
  color: red;
  padding-top: 20px;
  font-weight: bold;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container_submit_adding {
  padding-top: 20px;
}

.container_adding_end p {
  text-align: justify;
  color: black;
  padding: 20px 0 20px;
  text-align: center;
  margin: 0 300px 0 300px;
}

@media only screen and (max-width: 950px) {
  
  .container_adding p {
    margin: 0 50px 0 50px;
  }

  .form_adding  {
    width: 70%;
  }
}
