.container_authors {
  background-image: url('/img/bground1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  text-align: center;
}

.container_authors h1 {
  font-size: 40px;
  text-align: center;
  padding: 40px 0 20px;
  color: black;
}

.author_img {
  width: 38%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container_authors p {
  text-align: justify;
  color: black;
  padding-bottom: 10px;
  margin: 0 480px 0 480px;
}

#input {
  width: 38%; 
  font-size: 20px; 
  border: 10px solid red; 
  font-family: inherit;
  margin: -8px 0 -1px 0;

}

#fil {
  list-style-type: none;
  width: 38%;
  margin: auto;
  padding-bottom: 30px;
}

#fil li a {
  background-color: red; 
  text-decoration: none; 
  font-size: 25px; 
  font-weight: bold;
  color: white; 
}

#fil li a:hover:not(.header) {
  background-color: rgb(255, 136, 0);
}

.accordion1 {
  background-color: red;
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  transition: 0.4s;
  text-align: center;
  color: white;
  padding: 30px 0 20px;
  margin: auto;
}

.active_accord1, .accordion1:hover {
  background-color: rgb(255, 136, 0); 
}

.panel1 {
  display: none;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.panel1 p {
  color: red;
  font-family: "Trykker";
  font-size: 20px;
  font-weight: bold;
  margin: 0 80px 0 80px;
  text-align: center;
  padding-top: 20px;
}

.panel1 a {
  color: black;
  font-family: "Trykker";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 950px) {
  .panel1 p, .panel1 a { 
      font-size: 15px;
    }

  .accordion1 {
      font-size: 20px;
  }

  .panel1 {
    margin: auto;
  }

  #fil {
    width: 70%;
  }

  #input {
    font-size: 15px; 
    width: 70%; 
  }
  .author_img {
    width: 70%;
  }
}
