// pic in the middle
.contact_picture {
  width:60%;
  height:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  opacity: 0.8;
}

.container_mycontact_form {
  background-image: url('/img/bground.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container_contactform {
  border-radius: 5px;
  background-color: #ff0000;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.contact_form_text h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

.contact_form_text p {
  text-align: center;
  padding: 20px 0 20px;
  font-size: 25px;
  font-weight: bold;
}

.container_contactform1 p {
  padding-bottom: 20px;
}

input[type=text], select, textarea {
  background-color: white;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

input[type=submit]:hover {
  background-color: rgb(255, 136, 0);
}

.name_contact, .topic_contact, .comment_contact {
  color: white;
  font-weight: bold;
}

.topic_contact1 {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 950px) {

  .contact_picture {
    width:100%;
}

.container_contactform {
  width: 70%;
}
}