$font-color:white;
$font-color2:#d1e8e2;
$hover-color:rgb(56, 11, 11);
$background-color:#116466;

footer {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
    color: $font-color;
    background-color: $background-color;
    p {
        flex-grow: 7;
        margin: auto;
        padding-left: 50px;
    }
  
    ul:nth-child(2) {
        margin: auto;
        font-weight: bold;
        display: flex;
        li a {
            font-size: 1.563rem;
            color: inherit;
            &:hover {
                color: $hover-color;
            }

            /* dot for nav links */
            &:before {       
                content: "·";
                display: inline-block;
                margin: auto 10px;
                color: $font-color2;
            }
        }
    }
    
    /* no dot before home */
    ul:nth-child(2) .home-link:before {
        content: none;
    }
    
    //social media logos
    ul:nth-child(3) {
        flex-grow: 10;
        margin: auto;
        padding-right: 50px;
        text-align: right;
        li {
            display: inline-block;
            a {
                margin: auto 2px;
                padding: 10px 12px;
                border-radius: 10px;
                font-size: 1.875rem;                    
                background-color: $hover-color;
                color: inherit;
                &:hover{            
                    color: $background-color;

                }
            }
        }

        li:nth-child(1) i {
            padding: 0 1px;
        }
    }
}
  
@media screen and (max-width: 1250px) { 
  
    footer {
        flex-direction: column;
        padding: 0 0 10px;
        p {
            order: 3;
            padding: 0;
            font-size: 1.125rem;
        }
  
        ul:nth-child(2)  {
            padding-top: 7px;
            li a {
                order: 2;      
                font-size: 1.375rem;
            }
        }
  
        ul:nth-child(3) {
            order: 1;
            padding: 8px 0;
            li a {
                padding: 8px 10px;
                font-size: 1.6rem;       
            }     
        }
    }
} 
  
@media screen and (max-width: 500px) { 
    
    footer {
        p {
            font-size: 0.938rem;
        }
  
        ul:nth-child(2)  {
            padding-top: 3px;
            li a {
                font-size: 1.125rem;
                &:hover {
                    color: $font-color;
                }
  
                &:active {
                    color: $hover-color;
                }

                &:before {       
                    margin: auto 5px;
                }
            }
        }
  
        ul:nth-child(3) {
            padding: 6px 0 8px;
            li a {
                font-size: 1.5rem;
                &:hover {
                    color: $font-color;
                }

                &:active {
                    color: $background-color;
                } 
            }   
        }   
    }    
}