.thank_you {
    background-image: url('/img/bground1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    text-align: center;
  }
  
  .thank_you h1 {
    font-size: 40px;
    text-align: center;
    padding: 300px 0 100px;
    color: black;
  }
  
  .thank_you p {
    text-align: center;
    color: black;
    font-size: 30px;
    padding-bottom: 465px;
  }