@import 'footer';
@import 'navbar';
@import 'home';
@import 'dailyquotes';
@import 'categories';
@import 'authors';
@import 'textsearch';
@import 'mystory';
@import 'contact';
@import 'message';

$font-family: "Trykker"; 
$font-color:white;
$font-color2:#d1e8e2;
$hover-color:rgb(56, 11, 11);
$background-color:#116466;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
}

html, body {
  line-height: 1.5;
  font-family:'Times New Roman', Times, serif;
  height: 100vh;
  scroll-behavior: smooth;
  background-image: url('../img/bground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section p {
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
    
  html, body {
    margin-top: 28px;
  }
}

@media screen and (max-width: 500px) {
    
  section p {
    font-size: 1rem;
  }
}







    
  


  
  
  
  
  
  
  
  
  
  
