@import 'footer';
@import 'navbar';
@import 'home';
@import 'dailyQuotes';
@import 'categories';
@import 'authors';
@import 'textSearch';
@import 'myStory';
@import 'contact';
@import 'message';

$font-family: "Trykker"; 
$font-color:white;
$font-color2:#d1e8e2;
$hover-color:rgb(56, 11, 11);
$background-color:#116466;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
}

html, body {
  line-height: 1.5;
  font-family:'Times New Roman', Times, serif;
  height: 100vh;
  scroll-behavior: smooth;
  background-image: url('/img/bground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section p {
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
    
  html, body {
      margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
    
  section p {
      font-size: 1rem;
  }
}











    .authors {
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
      h1 {
      font-size: 2.4rem;
      margin: auto auto 30px; 
      padding: 10px 0 15px;
      width: 100%;     
      color:$font-color;
      background-color: $hover-color;
      font-family: $font-family;
      }
      img {
        margin: auto;
        display: block;
        width: 38%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
 
      #searchBar {
        width:38%;
        padding:8px 10px;
        font-size: 1.25rem; 
        border: 10px solid red; 
        font-family: inherit;
        margin:auto;
        display: block;
      }
    
    #authorSearch {
      list-style-type: none;
      width: 38%;
      margin: auto;
      padding-bottom: 30px;
    
      p {
        color: red;
        font-family: "Trykker";
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0 80px 0 80px;
        text-align: center;
        padding-top: 20px;
      }
    
    }
    
    .authors__items__button__panel {
      display: none;
      background-color: white;
      overflow: hidden;
      width: 100%;
  
  
 
}
}   
    @media only screen and (max-width: 1200px) {

     .authors {

    h1 {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 1000px) {

  .authors {
    padding: 25px 0 20px;
    
    h1 {
      font-size: 1.6rem;
      padding: 10px 0;
    }
}
}
   
@media only screen and (max-width: 500px) {

  .authors {    
    h1 {
      font-size: 1.25rem;
      margin: auto auto 20px;
    }
}
}
      











.categories {
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
      h1 {
      font-size: 2.4rem;
      margin: auto auto 30px; 
      padding: 10px 0 15px;
      width: 100%;     
      color:$font-color;
      background-color: $hover-color;
      font-family: $font-family;
      }
    
.categories__header {

  position: relative;
  margin-bottom: -18px;

img {
  width: 38%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



.categories__header__box {
  position: absolute; /* Position the background text */
  bottom: 8px; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(187, 185, 185, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 38%; /* Full width */
  padding: 20px; /* Some padding */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  h3 {
    margin: center;
    text-align: center;
  }
}
}


.categories__items {
  padding: 10px 0 30px;


.categories__items__button {
  background-color: red;
  cursor: pointer;
  width: 38%;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  transition: 0.4s;
  text-align: center;
  color: white;
  padding: 30px 0 20px;
  margin: auto;
  display: block;
}

.active__categories__button, .categories__items__button:hover {
  background-color: rgb(255, 136, 0); 
}

.categories__items__button__panel {
  display: none;
  background-color: white;
  overflow: hidden;
  width: 38%;
  margin: auto;
p {
  color: red;
  font-family: "Trykker";
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 20px;
  margin: 0 80px 0 80px;
  text-align: center;
}

h4 {
  color: black;
  font-family: "Trykker";
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 20px;
}
}
}
}
@media only screen and (max-width: 1200px) {

  .categories {

 h1 {
   font-size: 2rem;
 }
}
}

@media only screen and (max-width: 1000px) {

  .categories {
    padding: 25px 0 20px;
 
 h1 {
   font-size: 1.6rem;
   padding: 10px 0;
 }
}
}

@media only screen and (max-width: 500px) {

  .categories {
    h1 {
   font-size: 1.25rem;
   margin: auto auto 20px;
 }
}
}









.textSearch {
 
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
      h1 {
      font-size: 2.4rem;
      margin: auto auto 30px; 
      padding: 10px 0 15px;
      width: 100%;     
      color: $font-color;
      background-color: $hover-color;
      font-family: $font-family;
      }
      img {
        width: 38%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: -9px;
      }
      
      #searchBar {
  width:38%;
  padding:8px 10px;
  font-size: 1.25rem; 
  border: 10px solid red; 
  font-family: inherit;
  margin:auto;
  display: block;
}

#textSearch {
  list-style-type: none;
  width: 38%;
  margin: auto;
  padding-bottom: 30px;

  h3 {
    color: red;
    font-family: "Trykker";
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 80px 0 80px;
    text-align: center;
    padding-top: 20px;
  }
  p {
    font-family: "Trykker";
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 80px 0 80px;
    text-align: center;
    padding-top: 20px;
  }
}

.textSearch__panel {
  display: none;
  background-color: white;
  overflow: hidden;
  width: 100%;
}



}

@media only screen and (max-width: 1200px) {

  .textSearch {
 h1 {
   font-size: 2rem;
 }
}
}

@media only screen and (max-width: 1000px) {

  .textSearch {
    padding: 25px 0 20px;
 h1 {
   font-size: 1.6rem;
   padding: 10px 0;
 }
}
}

@media only screen and (max-width: 500px) {

  .textSearch {
    h1 {
   font-size: 1.25rem;
   margin: auto auto 20px;
 }
}
}

