@import 'footer';
@import 'navbar';
@import 'contact';
@import 'aboutus';
@import 'dailyquotes';
@import 'addquotes';
@import 'home';
@import 'categories';
@import 'authors';
@import 'textsearch';
@import 'thankyou';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  line-height: 1.5;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



























